*{
    margin: 0;
    padding: 0;
}
.contenedorbutton{
  width: 100%;
 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  

}
.span{
    
    margin-right: 5px;
    font-size: 1.5vw;
    font-weight: bold;
    color: white;

}
.contenedorbutton .buttoncard{
    width: 100px;
   
    background: rgb(108, 164, 240);
    background: linear-gradient(0deg, rgba(108, 164, 240, 1) 0%, rgba(120, 163, 247, 1) 32%, rgba(158, 203, 241, 1) 71%, rgba(130, 183, 251, 1) 100%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    transition: all 0.5s;
    box-shadow: 2px 2px 2px black;
    cursor: pointer;
    padding: 2px;
}
.contenedorpagina{
    position: fixed;
    top: 100px;
    width: 100%;

    height: calc(100%-100px);
    background-color: blue;
}
.portada{
    width: 100%;
    height: 100%;
    

}
.portada #imgportada1{
    width: 100%;
    height: 100%;
  
   
}


.contenidogrid2{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 70px 1fr;
    margin-bottom: 10px;
    padding: 0;
    background-color: transparent;
   
 }

 .contenidogrid4{

  width: 100%;

  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: 80px minmax(0, 500px);
  height: 100%;
  max-height: 580px;

  margin-bottom: 10px;
  padding: 0;
  background-color: transparent;
 }
 .contenidogrid4{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows:50px 50px 50px 50px 50px 50px 50px 50px 50px;
  margin-bottom: 10px;
  padding: 0;
  background-color: transparent;
  margin-bottom: 5px;
 
}

  
  
  
 .contenidogrid2 #titulocontenido2{
    animation: aparecer 1s;
    grid-column: 1/3;
    grid-row: 1/2;
 }
.contenidogrid4 #contenido2{
  animation: aparecer 1s;
  grid-column: 1/2;
  grid-row: 2/3;

  
  margin: 4px auto;
  width: 90%;
  max-width: 420px;
  display: flex;
  flex-wrap: wrap; 

}
.contenidogrid4 #contenido3{
  animation: aparecer 1s;
  grid-column: 2/3;
  grid-row: 1/3;
}
 .contenidogrid2 #titulocontenido2 .titulo{
    width: 90%;
    margin: 0 auto;
    transition: all 0.5s;
    text-align: center;
    font-size: 2.5vw;
    background: rgb(108, 164, 240);
    background: linear-gradient(0deg, rgba(108, 164, 240, 1) 0%, rgba(120, 163, 247, 1) 32%, rgba(158, 203, 241, 1) 71%, rgba(130, 183, 251, 1) 100%);
   
    color: white;
 }
 .contenidogrid2 #titulocontenido2 .subtitulo{
    width: 90%;
    margin: 0 auto;
    transition: all 0.5s;
    text-align: center;
    font-size: 1.2vw;
    background: transparent;
   
    color: black;
 }
 .contenidogrid2 #contenido2{
    margin: 4px auto;
    width: 90%;
    height: 60px;
    max-width: 420px;
    display: flex;
    flex-wrap: wrap; 
    background-color: transparent;
 }
 .contenidogrid2 #contenido2 #php,.contenidogrid4 #contenido2 #php{
  width: 70px;
  height: 70px;
 }
 .contenidogrid2 #contenido2 #desarrollomovil{
  width: 70px;
  height: 70px;
 }
 .contenidogrid2 #contenido2 #cplus , .contenidogrid4 #contenido2 #cplus{
  width: 70px;
  height: 70px;
 }
 .contenidogrid2 #contenido2 #desarrolloescritorio{
  width: 70px;
  height: 70px;
 }
 .contenidogrid2 #contenido2 #csharp,.contenidogrid4 #contenido2 #csharp{
  width: 70px;
  height: 70px;
 }
 .contenidogrid2 #contenido2 #desarrolloweb{
  width: 70px;
  height: 70px;
 }
 
 .contenidogrid2 #contenido2 #javascript,.contenidogrid4 #contenido2 #javascript{
    width: 70px;
    height: 70px;
 }
 .contenidogrid2 #contenido2 #phyton, .contenidogrid4 #contenido2 #phyton{
  width: 70px;
  height: 70px;
 }
 .contenidogrid2 #contenido2 #java,.contenidogrid4 #contenido2 #java{
  width: 70px;
  height: 70px;
 }
 .botton:hover{
  background: rgb(108, 164, 240);
  background: linear-gradient(0deg, rgba(108, 164, 240, 1) 0%, rgba(120, 163, 247, 1) 32%, rgba(158, 203, 241, 1) 71%, rgba(130, 183, 251, 1) 100%);
 
}
 .contenidogrid2 #contenido2 #asesorias{
    grid-column: 4/5;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .contenidogrid2 #contenido2 #diseñoweb{
    grid-column: 5/6;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 
 
 .contenidogrid2 #contenido3{
   
    background: white;
    border-radius: 5px;
    width: 90%;
    height: 380px;
    margin: 0 auto;
    box-shadow: 7px 9px 7px gray;
    overflow: hidden;
    overflow: auto;
    padding: 4px;
    grid-column: 1/2;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-content: center;
    border: 2px solid darkblue;
}
.contenidogrid2 #contenido3::-webkit-scrollbar{
 
  width: 7px;
  background-color: rgb(113, 201, 252);
}
.contenidogrid2 #contenido3::-webkit-scrollbar-thumb{

  background-color: rgb(30, 95, 133);
}
.cuadrado-1{
    margin-top: 10px;
    width:90%;
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 3px;
}
.cuadrado-1 p{
    text-align: justify;
    font-size: 1.9vw;
    padding: 3px;
}  
.cuadrado-2{

  margin-top: 10px;
  
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 3px;
 
}
.cuadrado-2 p{

  text-align: justify;
  font-size: 2.5vh;
  padding: 20px;
}  
.contenidogrid2 #contenido3 #textophp{
    grid-column: 1/2;
    grid-row: 1/2;
    
}
.contenidogrid2 #contenido3 #textojava{
    grid-column: 2/3;
    grid-row: 1/2;
    
}
.contenidogrid2 #contenido3 #textojavascript{
   
    grid-column: 3/4;
    grid-row: 1/2;
}
.contenidogrid2 #contenido3 #textophyton{
   
    grid-column: 4/5;
    grid-row: 1/2;
}
.contenidogrid2 #contenido3 #textocsharp{
    grid-column: 5/6;
    grid-row: 1/2;
    
}
.contenidogrid2 #contenido3 #textocplus{
    grid-column: 6/7;
    grid-row: 1/2;
    
}
.contenedorgrid{
    width: 100%;
    height: 100%;

    display:flex;
    justify-content: center;
    align-items: center;
}
.contenidogrid3{
    width: 100%;
   
    display: grid;
    grid-template-columns: 35% 1fr ;
    grid-template-rows: 100px 1fr;
    margin-bottom: 10px;
    padding: 0;
   transition: all 1s;
   
 }
 .contenidogrid3 #logomail{
    grid-column: 1/2;
    grid-row: 1/2;
    animation: aparecer 2s;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 100%;
 }
 .contenidogrid3 #logomail .logo{
  
   grid-column: 1/2;
   grid-row: 1/2;
 }
 .contenidogrid3 #logomail .logo img{
    width: 100%;
    height: 100%;
  }
 .contenidogrid3 #logomail .slogan{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .contenidogrid3 #logomail .slogan p{
    font-size: 2.6vw;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
    font-weight: bold;

  }
 .contenidogrid3 #contactosmail{
    grid-column: 1/2;
    grid-row: 2/3;
    animation: aparecer 2s;
 }
 .contenidogrid3 #contactosmail .texto{
    margin: 0 auto;
    font-size:  1.8vw;
    padding: 6px;
    font-weight: bold;
    width: 90%;
    box-shadow: 3px 2px 1px black;
    background: rgb(159,196,247);
    margin-top: 15px;
    color: white;
    text-shadow: 1px 1px black;
 }

 .contenidogrid3 #contactosmail .texto2{
    margin: 0 auto;
    width: 90%;
    margin-bottom: 15px;
    padding: 6px;
    font-size:  1.7vw;
    padding: 4px;
    text-rendering: auto;
    font-style: oblique;
    box-shadow: 3px 2px 1px black;
    
 }
 .contenidogrid3 #mail{
    grid-column: 2/3;
    grid-row: 1/3;
    animation: crecer 2s;
 
 }
 .contenidogrid3 #presentacion{
    grid-column: 2/3;
    grid-row: 1/3;
    animation: crecer 2s;
 
 }
 .contenidogrid3 #presentacion .parrafo{
    width: 95%;
    margin: 0 auto;
 
 }
 .contenidogrid3 #presentacion .parrafo p{
    text-align: justify;
    font-size: 1.3vw;
    padding: 5px;
 }

.contenidogrid{
   width: 100%;
  
   display: grid;
   grid-template-columns: 1fr 45%;
   grid-template-rows: 100%;
   margin-bottom: 10px;
   padding: 0;
   margin-top: 5px;
}


.contenidogrid #contenido{
    
    grid-column: 1/2;
    grid-row: 1/2;
}
.contenidogrid #contenido #titulocontenido{
 
    width: 100%;
    animation-name: aparecer;
    animation-duration: 1s;
  
}
.contenidogrid #contenido #listadocontenido{
 
    width: 100%;
    animation-name: aparecer;
    animation-duration: 1s;
    overflow: auto;
  
}
.contenidogrid #contenido #listadocontenido::-webkit-scrollbar{
 
    width: 7px;
    background-color: rgb(113, 201, 252);
}
.contenidogrid #contenido::-webkit-scrollbar-thumb{
 
    background-color: rgb(30, 95, 133);
}
.contenidogrid #contenido #titulocontenido p{
    transition: all 0.5s;
    text-align: center;
    font-size: 2.3vw;
    font-weight: bold;
    background: rgb(108, 164, 240);
    background: linear-gradient(0deg, rgba(108, 164, 240, 1) 0%, rgba(120, 163, 247, 1) 32%, rgba(158, 203, 241, 1) 71%, rgba(130, 183, 251, 1) 100%);
   
    color: white;
   
}

.contenidogrid #imagencontenido{
    
   
    grid-column: 2/3;
    grid-row: 1/2;
    animation: crecer 2s;
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 20px;
}

.contenidogrid #imagencontenido img{
    
   
  width: 70%;
  border-radius: 10px;
  margin-left: 20%;
  margin-right: 20%;
  box-shadow: 9px 5px 7px gray;
  border: 2px solid;
}
.pestañas{
    width: 90%;
    margin: 10px auto;
}

.pestañas .contenedortxtpestaña{
   border-radius: 10px;
   border: 2px solid whitesmoke ; 
   box-shadow: 5px 5px  gray; 
   padding:8px;
   background: white;
   
   animation-duration: 3s;
}


.contenedor{
    width: 100%;
    height: 100%;
    display: block;
   
    background-color: transparent;
}
.contenedor2{
  width: 100%;
  height: 100%;
  display: block;
  padding-left: 20px;
  background-color: transparent;
}
.contenedorflex{
  width: 100%;
  height: 100%;
  display: flex;  
  flex-direction: column;
  align-items: center;
}
.contenedor .titulo, .contenedor2 .titulo{
  width: 90%;
  height: 50px;
  background: rgb(108, 164, 240);
  background: linear-gradient(0deg, rgba(108, 164, 240, 1) 0%, rgba(120, 163, 247, 1) 32%, rgba(158, 203, 241, 1) 71%, rgba(130, 183, 251, 1) 100%);
 
  margin: 2px auto;
}

@keyframes crecer{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}
.parrafo1{
    font-size: 1.2vw;
    margin-bottom: 3px;
    padding: 2px;
    color: rgb(30, 97, 126);
    text-align: justify;

}
.respuestas{
    display: none;
    padding: 10px;
}
@keyframes aparecer{
    from{ 
        transform: translate(-100%);
    }
    
    to{
        transform: translate(0);
    }
}





.contenedortxtpestaña{
    transition: all 1s;
    background-color: #0f5a71;
    border: 2px solid white;
}
.check{
    display: none;
}
.check + .lblchbx{
    cursor: pointer;
}

.lblchbx{

  font-weight: bold;
  font-size: 3vh;
  color: rgb(29, 89, 113);
  

}

.lblchbx:before{
    content: '+';
    font-size: 2vh;
    background: transparent;
    color:rgb(221, 221, 232);
    font-weight: bold;
    display: inline-block;
    margin-right: 15px;
    text-align: center;
    vertical-align:text-bottom;
    font-weight: bold;

}
.check:checked + .lblchbx:before{
   
    content: '-';
    
}
/* PRESENTACION */

.process-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    position: relative;
  }
  
  .process-container:before {
    content: '';
    position: absolute;
    top: 15px;
    left: -50px;
    width: 40px;
    height: 5px;
    background-color: #7c7c7c;
  }
  
  .process-container:last-of-type:before {
    display: none;
  }
  
  .process-container:after {
    content: '';
    position: absolute;
    top: 15px;
    right: -50px;
    width: 40px;
    height: 5px;
    background-color: #7c7c7c;
  }
  
  .process-title {
    background-color: #0a6eaa;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px 30px;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .process-text {
    background-color: #fff;
    color: #444;
    padding: 30px;
    margin-left: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    flex: 1;
  }
  
/*PIE DE PAGINA*/
/*footer*/

  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .col-md-3 {
    flex-basis: 25%;
    max-width: 25%;
    padding: 0 15px;
  }
  
  h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 10px;
  }
  
  ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  ul li a:hover {
    text-decoration: underline;
  }
  /* Estilos para la barra inferior */
.bottom-bar {
    /* background-color degradado celeste azul*/
    background: linear-gradient(to right, #0f6174, #084153);
    padding: 20px 0;
  }
  
  .bottom-bar p {
    margin-bottom: 0;
  }
  
  .social-media-icons {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
  }
  
  .social-media-icons li {
    display: inline-block;
    margin-left: 10px;
  }
  
  .social-media-icons li a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
  }
  
  .social-media-icons li a:hover {
    text-decoration: underline;
  }
  @media screen and (max-width:1353px ){
    .cuadrado-2 p{

      text-align: justify;
      font-size: 2.2vh;
      padding: 20px;
    }  
  }
@media screen and (max-width:809px ){
 
  .contenidogrid{
    width: 100%;
   
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 30% 70%;
    margin-bottom: 10px;
    padding: 0;
    margin-top: 5px;
 }
 .contenidogrid #imagencontenido{
      
    
      grid-column: 1/2;
      grid-row: 1/2;
      animation: crecer 2s;
      display: flex;
      align-items: center;
      justify-items: center;
  }
  .contenidogrid #imagencontenido img{
      margin: 0 auto;
      width: 100%;
      height: 90%;
     
      
  }
  .contenidogrid #contenido{

    grid-column: 1/2;
    grid-row: 2/3;
}
.cuadrado-2 p{

  text-align: justify;
  font-size: 1.8vh;
  padding: 20px;
}  
.parrafo1{
  font-size: 2vw;
  
}

    .contenidogrid3 #presentacion .parrafo p{
        text-align: justify;
        font-size: 1.8vw;
        padding: 5px;
     }
    .contenidogrid3{
       
        grid-template-columns: 35% 1fr ;
        grid-template-rows: 80px 1fr;        
     }
    .contenidogrid3 #logomail{
      
        grid-template-columns: 80px 1fr;
        grid-template-rows: 100%;
     }

}
@media screen and (max-width:754px ){
    .portada{
        width: 100%;
        height: auto; 
    }
    .portada #imgportada1{
        width: 100%;
        height: auto;
      
       
    }
    .cuadrado-2 p{

      text-align: justify;
      font-size: 1.4vh;
      padding: 20px;
    }  
    .contenidogrid3{
       
        grid-template-columns: 35% 1fr ;
        grid-template-rows: 50px 1fr;
     
       
       
     }
    .contenidogrid3 #logomail{
      
        grid-template-columns: 50px 1fr;
        grid-template-rows: 100%;
     }
    .contenidogrid2{
        
        grid-template-rows: 30px 50px 1fr;
    
     }
     .contenidogrid2 #contenido2{
      margin: 4px auto;
      width: auto;
      height: 40px;
      max-width: 420px;
      display: flex;
      flex-wrap: wrap; 
      background-color: transparent;
   }
   .contenidogrid4 #contenido2 {
    grid-column: 1/2;
    grid-row: 1/2;
    
   }
 
   .contenidogrid2 #contenido2 #php{
    width: 40px;
    height: 40px;
   }
  
   .contenidogrid2 #contenido2 #desarrollomovil,.contenidogrid4 #contenido2 #desarrollomovil{
    width: 40px;
    height: 40px;
   }
 
   .contenidogrid2 #contenido2 #cplus,.contenidogrid4 #contenido2 #cplus{
    width: 40px;
    height: 40px;
   }
  
   .contenidogrid2 #contenido2 #desarrolloescritorio,.contenidogrid4 #contenido2 #desarrolloescritorio{
    width: 40px;
    height: 40px;
   }
  
   .contenidogrid2 #contenido2 #csharp, .contenidogrid4 #contenido2 #csharp{
    width: 40px;
    height: 40px;
   }
  
   
   .contenidogrid2 #contenido2 #desarrolloweb,.contenidogrid4 #contenido2 #desarrolloweb{
    width: 40px;
    height: 40px;
   }
  
   .contenidogrid2 #contenido2 #javascript,.contenidogrid4 #contenido2 #javascript{
      width: 40px;
      height: 40px;
   }
   .contenidogrid4 #contenido2 #phyton{
    grid-column: 1/2;
    grid-row: 8/9;
   }
   .contenidogrid2 #contenido2 #phyton, .contenidogrid4 #contenido2 #phyton{
    width: 40px;
    height: 40px;
   }
 
   .contenidogrid2 #contenido2 #java,.contenidogrid4 #contenido2 #java{
    width: 40px;
    height: 40px;
   }
  
     .cuadrado-1 p{
       
        font-size: 2.8vw;
        
    }  
 

    .contenidogrid #contenido::-webkit-scrollbar{
    
        width: 7px;
        background-color: rgb(113, 201, 252);
    }
    .contenidogrid #contenido::-webkit-slider-thumb{
    
        background-color: rgb(30, 95, 133);
    }
  
    .pestañas .contenedortxtpestaña{
       
        box-shadow:1px 1px 4px black; 
      
     }
 
    
}